#rename to applicatie.properties

app_db_name=
app_db_username=
app_db_password=
app_db_port=
app_db_server=
app_db_sid=personen_ws

connections.max=1
connections.min=1

loglevel=INFO

s_app=
s_gem=
c_gem=0000

proweb.authentication=http://<server>:<port>/personen
procura.endpoint=https://burgerzaken.procura.nl

# set default parameters in database
PARM_procura.db.tns-admin-dir=
PARM_procura.db.custom-url=
PARM_procura.db.custom-driver=
PARM_procura.db.db=
PARM_procura.db.sid=
PARM_procura.db.server=
PARM_procura.db.port=
PARM_procura.db.username=
PARM_procura.db.password=
PARM_procura.db.connections.read.min=2
PARM_procura.db.connections.read.max=5