/*
 * Copyright 2023 - 2024 Procura B.V.
 *
 * In licentie gegeven krachtens de EUPL, versie 1.2
 * U mag dit werk niet gebruiken, behalve onder de voorwaarden van de licentie.
 * U kunt een kopie van de licentie vinden op:
 *
 *   https://github.com/vrijBRP/vrijBRP/blob/master/LICENSE.md
 *
 * Deze bevat zowel de Nederlandse als de Engelse tekst
 *
 * Tenzij dit op grond van toepasselijk recht vereist is of schriftelijk
 * is overeengekomen, wordt software krachtens deze licentie verspreid
 * "zoals deze is", ZONDER ENIGE GARANTIES OF VOORWAARDEN, noch expliciet
 * noch impliciet.
 * Zie de licentie voor de specifieke bepalingen voor toestemmingen en
 * beperkingen op grond van de licentie.
 */

/*
 * Signaleringcontroles API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package nl.procura.burgerzaken.vrsclient.api;

import static java.util.Objects.requireNonNull;
import static java.util.Optional.ofNullable;

import nl.procura.burgerzaken.vrsclient.ApiClient;
import nl.procura.burgerzaken.vrsclient.ApiClient.Request;
import nl.procura.burgerzaken.vrsclient.ApiException;
import nl.procura.burgerzaken.vrsclient.model.ReisdocumentInformatieDocumentnummerUitgevendeInstantiesResponse;
import nl.procura.burgerzaken.vrsclient.model.ReisdocumentInformatiePersoonsGegevensInstantieResponse;
import nl.procura.burgerzaken.vrsclient.model.VrsReisdocumentInformatieUitgevendeInstantiesDocumentnummerRequest;
import nl.procura.burgerzaken.vrsclient.model.VrsReisdocumentInformatieUitgevendeInstantiesPersonalisatiegegevensRequest;
import nl.procura.validation.Bsn;

public class DocumentenApi extends AbstractVrsApi {

  private final ApiClient apiClient;

  public DocumentenApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ReisdocumentInformatiePersoonsGegevensInstantieResponse documenten(VrsRequest vrsRequest) throws ApiException {
    String localVarPath = "/reisdocumentinformatie/uitgevendeinstanties/v2/personalisatiegegevens";
    Request<Object> apiRequest = new Request<>(localVarPath);
    apiRequest.body(toDocumentenRequest(vrsRequest));
    setHeaders(vrsRequest, apiRequest);
    return apiClient.post(apiRequest, ReisdocumentInformatiePersoonsGegevensInstantieResponse.class);
  }

  public ReisdocumentInformatieDocumentnummerUitgevendeInstantiesResponse document(VrsRequest vrsRequest)
      throws ApiException {
    String localVarPath = "/reisdocumentinformatie/uitgevendeinstanties/v2/documentnummer";
    Request<Object> apiRequest = new Request<>(localVarPath);
    apiRequest.body(toDocumentRequest(vrsRequest));
    setHeaders(vrsRequest, apiRequest);
    return apiClient.post(apiRequest, ReisdocumentInformatieDocumentnummerUitgevendeInstantiesResponse.class);
  }

  private VrsReisdocumentInformatieUitgevendeInstantiesPersonalisatiegegevensRequest toDocumentenRequest(
      VrsRequest request) {
    requireNonNull(request.aanleiding(), "aanleiding is required");
    VrsReisdocumentInformatieUitgevendeInstantiesPersonalisatiegegevensRequest req = new VrsReisdocumentInformatieUitgevendeInstantiesPersonalisatiegegevensRequest();
    req.setGeslachtsnaam(request.geslachtsnaam());
    req.setVoornamen(request.voornamen());
    req.setGeboortedatum(request.geboortedatum());
    req.setGeboorteplaats(null);
    req.setAanleiding(VrsReisdocumentInformatieUitgevendeInstantiesPersonalisatiegegevensRequest.AanleidingEnum
        .valueOf(request.aanleiding().name()));
    req.setVoorvoegselgeslachtsnaam(request.voorvoegsel());
    req.setBsn(ofNullable(request.bsn()).map(Bsn::getLongBsn).orElse(null));
    req.setAnummer(null);
    req.setAanvraagnummer(request.aanvraagnummer());
    return req;
  }

  private VrsReisdocumentInformatieUitgevendeInstantiesDocumentnummerRequest toDocumentRequest(
      VrsRequest request) {
    requireNonNull(request.aanleiding(), "aanleiding is required");
    VrsReisdocumentInformatieUitgevendeInstantiesDocumentnummerRequest req = new VrsReisdocumentInformatieUitgevendeInstantiesDocumentnummerRequest();
    req.setDocumentnummer(request.documentnummer());
    req.setAanleiding(VrsReisdocumentInformatieUitgevendeInstantiesDocumentnummerRequest.AanleidingEnum
        .valueOf(request.aanleiding().name()));
    req.setAanvraagnummer(request.aanvraagnummer());
    return req;
  }
}
