<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>Proweb GBA applicatie</display-name>

    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>true</param-value>
    </context-param>

    <filter>
        <filter-name>requestStorageFilter</filter-name>
        <filter-class>nl.procura.gba.web.filters.RequestStorageFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>requestStorageFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Config servlet</servlet-name>
        <servlet-class>nl.procura.gba.web.servlets.ConfigServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Gmap -->
    <servlet>
        <servlet-name>gmapJsp</servlet-name>
        <jsp-file>/VAADIN/site/gmap/gmap.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>gmapJsp</servlet-name>
        <url-pattern>/gmap</url-pattern>
    </servlet-mapping>

    <!-- Chart -->
    <servlet>
        <servlet-name>chartJsp</servlet-name>
        <jsp-file>/VAADIN/site/chart/chart.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>chartJsp</servlet-name>
        <url-pattern>/chart</url-pattern>
    </servlet-mapping>

    <!-- Sessions -->
    <listener>
        <listener-class>nl.procura.gba.web.common.session.InfoSessionListener</listener-class>
    </listener>

    <!-- Rest -->
    <listener>
        <listener-class>nl.procura.gba.web.rest.GbaRestListener</listener-class>
    </listener>
    <filter>
        <filter-name>Guice Filter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Guice Filter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

    <!-- Vaadin -->
    <servlet>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <servlet-class>nl.procura.gba.web.servlets.GbaVaadinServlet</servlet-class>
        <init-param>
            <description>Vaadin application class to start</description>
            <param-name>application</param-name>
            <param-value>nl.procura.gba.web.application.GbaApplication</param-value>
        </init-param>
        <init-param>
            <description>Application widgetset</description>
            <param-name>widgetset</param-name>
            <param-value>nl.procura.gba.web.widgetset.AppWidgetset</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
